workflows/Tagging_sub.json
{
  "name": "Tagging_sub",
  "nodes": [
    {
      "parameters": {
        "model": "google/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        368,
        304
      ],
      "id": "d74fa437-2971-4e5d-b735-3bbb11ff748e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "hwgCIqUR8WoofSSI",
          "name": "OpenRouter account Agent"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Du bist der REFEREE. Deine Aufgabe ist es, für eine Liste von Schlagworten (Batch) die jeweils korrekten GND-IDs zu finden.\n\nDEINE STRATEGIE\nDu erhältst einen Batch von bis zu 10 Schlagworten.\n\nAnalysiere jedes Schlagwort einzeln im Kontext des Objekts (Caption & Metadaten) UND nutze die mitgelieferten Felder rationale und judge_context zwingend zur Disambiguierung, falls ein Begriff mehrere unterschiedliche Bedeutungen hat.\n\nNutze das Tool search_gnd für jedes Keyword, um in der lokalen Datenbank nach Normdaten zu suchen. Du kannst und sollst mehrere Tool-Calls parallel oder hintereinander absetzen.\n\nWICHTIG: Das Tool durchsucht vorrangig Sachbegriffe (Materialien, Objekte, historische Konzepte, abstrakte Dinge).\n\nÜbergib dem Tool den Suchbegriff. Wenn der Begriff mehrdeutig ist, kannst du auch Synonyme testen.\n\nValidiere die Tool-Ergebnisse gegen den visuellen Befund und die Metadaten. Achte im Tool-Ergebnis besonders auf das Feld \"definition\", um abzugleichen, ob es sich um das richtige Konzept handelt.\n\nFAST-FAIL REGELN (Zeit-Optimierung)\nBevor du das Tool nutzt oder tief nachdenkst, wende diese \"Short-Circuit\"-Logik an:\n\nZUSTANDS- UND QUALITÄTSBEGRIFFE:\nBegriffe wie \"beschädigt\", \"abgenutzt\", \"fleckig\", \"Kratzer\", \"unscharf\" oder \"rötlich\" sind rein deskriptiv. Die GND führt hierfür meist keine Sachschlagworte für die Bilderschließung.\n-> AKTION: Setze sofort \"gnd_id\": null und \"gnd_confidence\": \"no_match\". KEIN Tool-Call nötig!\n\n1-TOOL-LIMIT FÜR SACHBEGRIFFE:\nWenn eine Suche in search_gnd keine Treffer liefert, die EXAKT oder SEHR NAHE am Keyword liegen:\n-> AKTION: Suche NICHT endlos weiter. Setze \"gnd_id\": null.\n\nCLUSTER-FILTER:\nKeywords aus dem Cluster \"Visuelle_Merkmale\" (außer konkrete Techniken wie \"Sepia\") sind fast immer \"no_match\". Prüfe sie extrem streng und brich bei Zweifeln sofort ab.\n\nOUTPUT FORMAT (STRENGSTENS EINZUHALTEN)\nAntworte AUSSCHLIESSLICH mit einem validen JSON-Array. Jedes Element im Array entspricht einem Keyword aus dem Eingabe-Batch.\nDu musst die Ursprungsdaten (Schlagwort, Begründungen von LLM2 und LLM3) 1:1 aus dem Input-Batch übernehmen und um deine eigenen GND-Ergebnisse ergänzen.\n\nNutze exakt diese Struktur für jedes Item im Array:\n\n[\n{\n\"source_cluster\": \"Der Name des Clusters aus dem Input\",\n\"keyword_original\": \"Das 'keyword' aus dem Input-Batch\",\n\"llm2_rationale\": \"Das Feld 'rationale' aus dem Input-Batch (1:1 kopieren)\",\n\"llm3_judge_comment\": \"Das Feld 'judge_context' aus dem Input-Batch (1:1 kopieren)\",\n\"gnd_id\": \"4130439-1\",\n\"gnd_preferred_name\": \"Name laut GND (oder null)\",\n\"gnd_confidence\": \"high\" | \"medium\" | \"low\" | \"no_match\",\n\"llm4_reasoning\": \"Deine eigene Begründung, warum diese GND-ID passt oder warum keine gefunden wurde.\",\n\"additional_data\": {\n\"alternate_names\": \"String (kommaseparierte Synonyme laut GND oder null)\",\n\"definition\": \"String (die Definition laut GND oder null)\"\n}\n}\n]\n\nWICHTIG:\n\nÜbernehme \"source_cluster\", \"keyword_original\", \"llm2_rationale\" und \"llm3_judge_comment\" EXAKT und ohne inhaltliche Änderungen aus deinem Input.\n\nDie Felder in \"additional_data\" nimmst du aus dem Output des Tools \"search_gnd\".\n\nKEIN Markdown (wie json ... ), nur das rohe Array, beginnend mit [ und endend mit ].",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "===================================\n--- DER BATCH (10 SCHLAGWORTE) ---\n==================================\n\nHier sind die zu prüfenden Keywords und ihre Cluster:\n{{ JSON.stringify($json.keyword_batch) }}\n\n==================================\n--- KONTEXT (ZUR ENTSCHEIDUNGSHILFE) ---\n==================================\n\nVISUELLER BEFUND (Caption):\n\"{{ $json.caption }}\"\n\nMETADATEN (Hintergrund):\n\"{{ $json.metadata }}\"\n\n==================================\n--- DEINE AUFGABE ---\n==================================\n\nBearbeite jetzt alle Schlagworte im Batch. Führe für jedes eine GND-Suche durch und gib das validierte JSON-Array zurück.",
          "returnIntermediateSteps": true,
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        608,
        64
      ],
      "id": "c9bb91c9-10b2-42a1-a7e9-cd87bae52167",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1008,
        288
      ],
      "id": "72c3535b-b810-46d4-a378-34b74bf288b5",
      "name": "Wait",
      "webhookId": "e006186e-00a0-4686-8111-b53b8868313f"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "eb6fb377-b283-4deb-8032-d8f3352f3aa2",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        368,
        0
      ],
      "id": "afe98793-98f7-48a2-a173-19322766fad3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "/*\n=========================================================\nAGENT BATCH PARSER (v7 - Lineage & Multi-Batch Support)\n- Iteriert über ALLE Batches (nicht nur den ersten)\n- Extrahiert JSON-Array aus Agenten-String\n- Handhabt Markdown-Backticks & Zeilenumbrüche\n- Extrahiert die Data Lineage (LLM2, 3 und 4)\n=========================================================\n*/\n\nconst items = $input.all();\nconst allParsedResults = [];\n\nfor (const itemWrapper of items) {\n    const item = itemWrapper.json;\n    const outputText = item.output || item.text || \"\"; \n\n    try {\n        // 1. Suche den Start und das Ende des Arrays im String\n        const arrayStart = outputText.indexOf('[');\n        const arrayEnd = outputText.lastIndexOf(']');\n        \n        if (arrayStart === -1 || arrayEnd === -1) {\n            allParsedResults.push({\n                json: { error: \"Kein JSON-Array im Output\", raw_output: outputText }\n            });\n            continue; // Mache mit dem nächsten Batch weiter\n        }\n\n        const cleanJsonString = outputText.substring(arrayStart, arrayEnd + 1);\n        const agentResults = JSON.parse(cleanJsonString);\n\n        // 2. Jedes Ergebnis im Array als n8n-Item vereinzeln\n        for (const res of agentResults) {\n            allParsedResults.push({\n                json: {\n                    // IDs aus dem Flow-Kontext\n                    parent_id: item.parent_id || item.ID || \"N/A\", \n                    \n                    // Identifikation\n                    keyword_original: res.keyword_original || res.keyword || \"N/A\",\n                    source_cluster: res.source_cluster || \"Unsorted\",\n                    \n                    // GND Daten (mit Fallbacks auf alte Nomenklatur)\n                    gnd_id: res.gnd_id || null,\n                    preferred_name: res.gnd_preferred_name || res.preferred_name || null,\n                    confidence: res.gnd_confidence || res.confidence || \"no_match\",\n                    \n                    // DATA LINEAGE (Die Begründungen der LLMs)\n                    llm2_rationale: res.llm2_rationale || null,\n                    llm3_judge_comment: res.llm3_judge_comment || null,\n                    llm4_reasoning: res.llm4_reasoning || res.reasoning || null,\n                    \n                    // Metadaten flachklopfen\n                    meta_start_date: res.additional_data?.start_date || null,\n                    meta_end_date: res.additional_data?.end_date || null,\n                    meta_role: res.additional_data?.role_or_profession || null,\n                    meta_location: res.additional_data?.location_primary || null\n                }\n            });\n        }\n\n    } catch (e) {\n        // Fehlerfall für diesen spezifischen Batch\n        allParsedResults.push({\n            json: {\n                error: \"Parsing Error\",\n                message: e.message,\n                raw_output: outputText\n            }\n        });\n    }\n}\n\nreturn allParsedResults;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        64
      ],
      "id": "67e53c20-6b06-409b-857e-7104885bf84f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "/*\n=========================================================\nFINAL AGGREGATOR (v19 - Post-Parser)\n- Aggregiert die vom Parser vereinzelten Items\n- Gruppiert nach 'source_cluster'\n=========================================================\n*/\n\nconst items = $input.all();\nconst enrichedResult = {};\n\nfor (const itemWrapper of items) {\n    const data = itemWrapper.json;\n    \n    // Fehlerhafte Items überspringen\n    if (data.error) continue;\n    \n    const cluster = data.source_cluster || \"Unsorted\";\n    if (!enrichedResult[cluster]) {\n        enrichedResult[cluster] = [];\n    }\n\n    // Eintrag zusammenbauen\n    const entry = {\n        term: data.keyword_original,\n        gnd_name: data.preferred_name,\n        gnd_id: data.gnd_id,\n        confidence: data.confidence,\n        \n        // Data Lineage\n        llm2_rationale: data.llm2_rationale,\n        llm3_judge_comment: data.llm3_judge_comment,\n        llm4_reasoning: data.llm4_reasoning,\n        \n        // Metadaten (nur falls vorhanden)\n        ...(data.meta_start_date && { born_founded: data.meta_start_date }),\n        ...(data.meta_end_date && { died_dissolved: data.meta_end_date }),\n        ...(data.meta_role && { role_type: data.meta_role }),\n        ...(data.meta_location && { location: data.meta_location })\n    };\n\n    enrichedResult[cluster].push(entry);\n}\n\nreturn {\n    json: {\n        gnd_result_string: JSON.stringify(enrichedResult, null, 2)\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -96
      ],
      "id": "f3fe7d54-0ece-4c00-a58d-aaa050713337",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "/*\n=========================================================\nBATCH SPLITTER (FINAL VERSION)\n- Gruppiert Keywords in 10er Batches\n- Extrahiert 'term', 'why' (rationale) & 'judge_comment' (judge_context)\n- Filtert technische Systemfelder aus den Metadaten\n- Sichere Fallbacks für Caption & Metadata\n=========================================================\n*/\n\nconst items = $input.all();\nconst outputBatches = [];\nconst BATCH_SIZE = 10;\n\n// Felder, die aus den Metadaten gelöscht werden sollen\nconst excludeKeys = [\n    \"tags_gemini_2.5_pro\",\n    \"_archived\",\n    \"_creator\",\n    \"_ctime\",\n    \"_last_modifier\",\n    \"_mtime\"\n];\n\n// Hilfsfunktion zur Reinigung der Metadaten-Strings\nfunction cleanMetadata(rawString) {\n    if (!rawString) return \"\";\n    return rawString\n        .split('\\n')\n        .filter(line => !excludeKeys.some(key => line.trim().startsWith(key + \":\")))\n        .join('\\n')\n        .trim();\n}\n\nconst allowedClusters = [\n    \"Objekttyp\", \"Thema_Phänomen\", \"Inhalt_Motiv\", \"Funktion_Zweck\",\n    \"Visuelle_Merkmale\", \"Form_Gestalt\", \"Bestandteile\", \"Gebrauchskontext\",\n    \"Kultureller_Kontext\", \"Emotion_Atmosphäre\", \"Farbe_Nuancen\"\n];\n\nfor (const item of items) {\n    const json = item.json;\n    \n    // Sichere Fallbacks: Greift alle möglichen Schreibweisen ab\n    const rawCaption = json.Caption || json.caption || \"\";\n    const rawMeta = json.Metadata || json.metadata || json.context_data_string || \"\";\n    \n    // Metadaten bereinigen\n    const cleanedMeta = cleanMetadata(rawMeta);\n\n    // Keywords und Begründungen sammeln\n    const allKeywords = [];\n    for (const cluster of allowedClusters) {\n        let keywordArray = json[cluster]; \n        \n        if (!keywordArray) continue;\n\n        if (typeof keywordArray === 'string') {\n            try { keywordArray = JSON.parse(keywordArray); } catch (e) { keywordArray = []; }\n        }\n\n        if (Array.isArray(keywordArray)) {\n            keywordArray.forEach(kw => {\n                if (kw && kw.term && typeof kw.term === 'string' && kw.term.trim() !== \"\") {\n                    allKeywords.push({\n                        keyword: kw.term.trim(),\n                        source_cluster: cluster,\n                        rationale: kw.why || \"\",             // Neu: LLM2 Begründung\n                        judge_context: kw.judge_comment || \"\" // Neu: LLM3 Urteil\n                    });\n                }\n            });\n        }\n    }\n\n    // In 10er Batches aufteilen und Output generieren\n    for (let i = 0; i < allKeywords.length; i += BATCH_SIZE) {\n        const batchChunk = allKeywords.slice(i, i + BATCH_SIZE);\n        \n        outputBatches.push({\n            json: {\n                keyword_batch: batchChunk, \n                caption: rawCaption,    \n                metadata: cleanedMeta,  \n                batch_info: {\n                    current: Math.floor(i / BATCH_SIZE) + 1,\n                    total: Math.ceil(allKeywords.length / BATCH_SIZE)\n                }\n            }\n        });\n    }\n}\n\nreturn outputBatches;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "813a8968-f61e-411d-892a-57c47d108ce5",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "toolDescription": "Der exakte Suchbegriff für die GND. Bitte nur das nackte Wort übergeben (z.B. Preußen oder Handschrift). Keine Sonderzeichen, keine Lucene-Syntax und keine Formatierungen!",
        "method": "POST",
        "url": "http://gnd_elasticsearch:9200/gnd_index/_search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"size\": 5,\n  \"query\": {\n    \"multi_match\": {\n      \"query\": \"{{ $fromAI('suchbegriff', 'Der exakte Suchbegriff für die GND. Bitte nur das nackte Wort übergeben (z.B. Preußen oder Handschrift).') }}\",\n      \"fields\": [\n        \"preferred_name^4\",\n        \"alternate_names^3\",\n        \"definition^1\"\n      ],\n      \"fuzziness\": \"AUTO\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        704,
        304
      ],
      "id": "50ca3d34-b2bb-4592-9656-9297b2318b3b",
      "name": "search_gnd"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "1_Relevance_Check": "Die Weichenstellung von LLM2 ist korrekt. Das Objekt an sich ist technisch-neutral. Der Hinweis auf den potenziell problematischen Kontext der Weltausstellung und die Serienbeschriftung 'Entwicklung' ist richtig platziert und formuliert ('Kritischer_Hinweis'), da er eine Hypothese bleibt und keine unbewiesene Behauptung aufstellt.",
          "2_Vision_Check": "Der Abgleich mit Caption und Metadaten ist erfolgreich. Es wurden keine visuellen Halluzinationen oder stereotypen Zuschreibungen gefunden. Die neutralen Begriffe ('Kleidung', 'Kopfbedeckung') sind korrekt gewählt und verhindern Spekulationen.",
          "3_Syntax_Check": "Audit bestätigt: In den Metadaten ist die Agency (Hersteller) klar benannt. Eine kritische Analyse der Provenienzkette ist auf Basis der Daten nicht möglich und LLM2 hat dies korrekt als 'null' vermerkt.",
          "4_Sovereignty_Check": "Audit bestätigt: Es liegen keine Kriterien für 'Restricted Access' vor. 'Open Access' ist korrekt.",
          "5_Museo_Check": "Der Audit identifiziert geringfügige, aber systemrelevante formale Regelverstöße. Ein Adjektiv ('geschwungen') wurde im falschen Cluster verwendet. Ein Begriff ('Nostalgie') basiert auf unzulässiger Spekulation über die moderne Rezeption statt auf objektimmanenter Evidenz. Ein Thema ist eine plausible, aber nicht direkt belegte Interpretation. Ansonsten ist die Regel-Compliance (Singular, Brücken-Begriffe, keine Materialien) sehr hoch.",
          "Protokoll_Status": "Open Access",
          "Objekttyp": [
            {
              "term": "Stereoskop",
              "why": "Die Objektbezeichnung in den Metadaten und die Bauform identifizieren das Objekt eindeutig als Stereoskop.",
              "status": "green",
              "judge_comment": "Korrekter Fachbegriff, gestützt durch Metadaten."
            },
            {
              "term": "Betrachtungsgerät",
              "why": "Dies ist ein allgemeiner, laienverständlicher Oberbegriff für ein Gerät, mit dem man Bilder anschaut.",
              "status": "green",
              "judge_comment": "Exzellentes Brücken-Gebot. Der laiensprachliche Oberbegriff ist vorhanden."
            },
            {
              "term": "3D-Brille",
              "why": "Ein Laie würde nach einem Begriff suchen, der die Erzeugung eines räumlichen Bildeindrucks beschreibt. Dies ist ein moderner, aber treffender Analogbegriff.",
              "status": "green",
              "judge_comment": "Guter Einsatz des Folksonomie-Gebots durch Nutzung eines modernen, analogen Suchbegriffs."
            }
          ],
          "Thema_Phänomen": [
            {
              "term": "Optik",
              "why": "Die Funktion des Geräts basiert auf optischen Prinzipien zur Erzeugung eines räumlichen Bildes.",
              "status": "green",
              "judge_comment": "Korrekt. Basiert auf der Funktion des Objekts."
            },
            {
              "term": "Weltausstellung",
              "why": "Laut Metadaten wurde das Objekt für die Pariser Weltausstellung 1900 hergestellt.",
              "status": "green",
              "judge_comment": "Korrekt. Direkt aus den Metadaten belegt."
            },
            {
              "term": "Massenmedien",
              "why": "Stereoskope waren um 1900 ein weit verbreitetes visuelles Unterhaltungsmedium für ein breites Publikum.",
              "status": "yellow",
              "judge_comment": "Plausible Interpretation, aber nicht direkt durch die Metadaten belegt ('Massenmedium' wird nicht erwähnt). Die Begründung ist logisch, der Begriff selbst ist jedoch eine Abstraktion. Akzeptabel, aber als Interpretation markiert."
            },
            {
              "term": "Fotografiegeschichte",
              "why": "Die Stereoskopie ist ein wichtiges Kapitel in der Geschichte der Fotografie des 19. und frühen 20. Jahrhunderts.",
              "status": "green",
              "judge_comment": "Korrekte historische Einordnung des Objekttyps."
            },
            {
              "term": "Industrialisierung",
              "why": "Das Objekt ist ein industriell gefertigtes Massenprodukt einer bekannten US-amerikanischen Firma.",
              "status": "green",
              "judge_comment": "Korrekt. Die Metadaten belegen die industrielle Fertigung."
            }
          ],
          "Inhalt_Motiv": [
            {
              "term": "Kind",
              "why": "Die Fotografie auf der Stereokarte zeigt eine einzelne, stehende Person, die als Kind erscheint.",
              "status": "green",
              "judge_comment": "Korrekt. Visuell und durch Caption gestützt."
            },
            {
              "term": "Porträt",
              "why": "Die Darstellung der Person auf der Fotografie hat den Charakter eines gestellten Porträts.",
              "status": "green",
              "judge_comment": "Korrekt. Gut begründete Bildgattung."
            },
            {
              "term": "Kleidung",
              "why": "Die abgebildete Person trägt ein mehrteiliges, gemustertes Gewand.",
              "status": "green",
              "judge_comment": "Korrekt. Visuell evident."
            },
            {
              "term": "Kopfbedeckung",
              "why": "Das Kind auf dem Foto trägt eine auffällige Bedeckung auf dem Kopf.",
              "status": "green",
              "judge_comment": "Korrekt. Visuell evident."
            },
            {
              "term": "Pflanze",
              "why": "Im Hintergrund der Fotografie sind stilisierte Pflanzen oder Büsche zu sehen.",
              "status": "green",
              "judge_comment": "Korrekt. Visuell evident."
            },
            {
              "term": "Engel",
              "why": "Die Metadaten beschreiben, dass auf dem Gehäuse des Stereoskops ein Engel abgebildet ist.",
              "status": "green",
              "judge_comment": "Korrekt. Explizit in den Metadaten erwähnt."
            },
            {
              "term": "Figur",
              "why": "Laut Metadaten ist neben dem Engel eine 'muskulöse Mann mit Keule oder Fackel', also eine allegorische oder mythologische Figur, dargestellt.",
              "status": "green",
              "judge_comment": "Korrekt. Explizit in den Metadaten erwähnt."
            }
          ],
          "Funktion_Zweck": [
            {
              "term": "Betrachtung",
              "why": "Die Hauptfunktion des Geräts ist das Ansehen von Bildern.",
              "status": "green",
              "judge_comment": "Korrekter, substantivierter Funktionsbegriff."
            },
            {
              "term": "Unterhaltung",
              "why": "Solche Geräte dienten primär der privaten Freizeitgestaltung und Unterhaltung.",
              "status": "green",
              "judge_comment": "Korrekter, substantivierter Zweck."
            },
            {
              "term": "3D-Effekt",
              "why": "Die technische Funktion besteht darin, aus zwei Einzelbildern einen dreidimensionalen, räumlichen Eindruck zu erzeugen.",
              "status": "green",
              "judge_comment": "Zulässige Beschreibung des Kernzwecks. Keine Komposita-Zerlegung nötig, da feststehender Begriff."
            },
            {
              "term": "Scharfstellen",
              "why": "Laut Metadaten kann die Schärfe des Bildes durch das Verschieben des Kartenhalters justiert werden.",
              "status": "green",
              "judge_comment": "Korrekt, Funktion ist in Metadaten beschrieben."
            }
          ],
          "Visuelle_Merkmale": [
            {
              "term": "ornamentiert",
              "why": "Der Metallkörper des Geräts ist laut Bild und Beschreibung mit erhabenen, schwungvollen Verzierungen geschmückt.",
              "status": "green",
              "judge_comment": "Korrekt. Adjektive sind in diesem Cluster erlaubt."
            },
            {
              "term": "abgenutzt",
              "why": "Der visuelle Befund beschreibt deutliche Abnutzungsspuren am roten Samt und Kratzer auf dem Metall.",
              "status": "green",
              "judge_comment": "Korrekt. Adjektive sind in diesem Cluster erlaubt."
            },
            {
              "term": "monochromatisch",
              "why": "Die Fotografie auf der eingesteckten Karte ist in Schwarz-Weiß bzw. Graustufen gehalten.",
              "status": "green",
              "judge_comment": "Korrekt. Adjektive sind in diesem Cluster erlaubt."
            },
            {
              "term": "vergilbt",
              "why": "Die Bildbeschreibung erwähnt, dass die Stereokarte aus Karton altersbedingt leicht vergilbt ist.",
              "status": "green",
              "judge_comment": "Korrekt. Adjektive sind in diesem Cluster erlaubt."
            }
          ],
          "Form_Gestalt": [
            {
              "term": "Rechteck",
              "why": "Die Linsen und die eingelegte Stereobildkarte haben eine rechteckige Grundform.",
              "status": "green",
              "judge_comment": "Korrekte Formbeschreibung als Nomen."
            },
            {
              "term": "geschwungen",
              "why": "Die Augenmuschel des Geräts ist geschwungen geformt, um sich dem Gesicht anzupassen.",
              "status": "yellow",
              "judge_comment": "Adjektiv-Verbot. In diesem Cluster sind nur Nomen erlaubt. Korrekturvorschlag: 'Schwung' oder 'geschwungene Form'."
            }
          ],
          "Bestandteile": [
            {
              "term": "Stereobildkarte",
              "why": "Eine Bildkarte mit zwei Fotografien ist in den Halter des Geräts eingesetzt, um betrachtet zu werden.",
              "status": "green",
              "judge_comment": "Korrekter Bestandteil."
            },
            {
              "term": "Linse",
              "why": "Das Gerät verfügt über zwei Glaslinsen, durch die der Betrachter schaut.",
              "status": "green",
              "judge_comment": "Korrekter Bestandteil. Verstößt nicht gegen Material-Verbot, da 'Linse' ein Bauteil ist."
            },
            {
              "term": "Handgriff",
              "why": "Laut Metadaten besitzt das Objekt einen Handgriff aus Holz zur besseren Handhabung.",
              "status": "green",
              "judge_comment": "Korrekter Bestandteil, gestützt durch Metadaten."
            },
            {
              "term": "Kartenhalter",
              "why": "Eine sichtbare Drahtkonstruktion dient dazu, die Stereobildkarte in Position zu halten.",
              "status": "green",
              "judge_comment": "Korrekter Bestandteil."
            },
            {
              "term": "Okular",
              "why": "Das Bauteil, durch das man blickt, ist mit rotem Samt eingefasst und wird als Okular oder Augenmuschel bezeichnet.",
              "status": "green",
              "judge_comment": "Korrekter Bestandteil."
            }
          ],
          "Gebrauchskontext": [
            {
              "term": "Privathaushalt",
              "why": "Stereoskope waren typische Unterhaltungsgeräte für den Gebrauch zu Hause.",
              "status": "green",
              "judge_comment": "Plausibler und historisch korrekter Gebrauchskontext."
            },
            {
              "term": "Salon",
              "why": "Solche Geräte waren oft Teil der bürgerlichen Salonkultur als Form der Zerstreuung.",
              "status": "green",
              "judge_comment": "Plausibler und historisch korrekter Gebrauchskontext."
            },
            {
              "term": "Freizeit",
              "why": "Das Betrachten von stereoskopischen Bildern war eine verbreitete Freizeitbeschäftigung.",
              "status": "green",
              "judge_comment": "Plausibler und historisch korrekter Gebrauchskontext."
            }
          ],
          "Kultureller_Kontext": [
            {
              "term": "Belle Époque",
              "why": "Die Herstellungszeit um 1900 fällt in die Hochphase der Belle Époque, insbesondere in Paris, dem Ort der Weltausstellung.",
              "status": "green",
              "judge_comment": "Korrekte historische Epochenzuschreibung."
            },
            {
              "term": "19. Jahrhundert",
              "why": "Die Technologie und Popularität der Stereoskopie hat ihren Ursprung in der zweiten Hälfte des 19. Jahrhunderts.",
              "status": "green",
              "judge_comment": "Korrekt, da Herstellung (Patente) und Technologie ins 19. Jh. fallen."
            },
            {
              "term": "20. Jahrhundert",
              "why": "Das Objekt wurde um 1900 hergestellt und markiert damit den Übergang ins 20. Jahrhundert.",
              "status": "green",
              "judge_comment": "Korrekt, da Herstellungsdatum (1900) im 20. Jh. liegt."
            },
            {
              "term": "USA",
              "why": "Der Hersteller H.C. White Co. war in den USA ansässig, was auf den Produktionsort hinweist.",
              "status": "green",
              "judge_comment": "Korrekt, durch Metadaten zum Hersteller belegt."
            }
          ],
          "Emotion_Atmosphäre": [
            {
              "term": "Neugier",
              "why": "Optische Geräte dieser Art waren dazu bestimmt, bei den Betrachtenden Neugier und Staunen über den 3D-Effekt zu wecken.",
              "status": "green",
              "judge_comment": "Akzeptabel. Die Begründung bezieht sich auf die intendierte Funktion (Neugier wecken), nicht auf eine unterstellte Emotion des Betrachters."
            }
          ],
          "Farbe_Nuancen": [
            {
              "term": "Rot",
              "why": "Der Samt, der das Okular umgibt, hat eine leuchtend rote Farbe.",
              "status": "green",
              "judge_comment": "Korrekt."
            },
            {
              "term": "Silber",
              "why": "Der Hauptkörper des Stereoskops besteht aus einem hellen Metall mit silbrigem Erscheinungsbild.",
              "status": "green",
              "judge_comment": "Korrekt."
            },
            {
              "term": "Schwarz",
              "why": "Die Innenseite des Betrachters ist schwarz lackiert und das Foto enthält schwarze Bildpartien.",
              "status": "green",
              "judge_comment": "Korrekt."
            },
            {
              "term": "Cremeweiß",
              "why": "Der Karton der Stereokarte wird als cremefarben bzw. leicht vergilbt beschrieben.",
              "status": "green",
              "judge_comment": "Korrekt."
            }
          ],
          "Kritischer_Hinweis": "Das Objekt wurde für die Pariser Weltausstellung 1900 hergestellt. Weltausstellungen dieser Zeit waren oft Schauplätze für koloniale Zurschaustellungen ('Völkerschauen'), die Menschen in einer stereotypen und rassistischen Weise präsentierten. Die eingelegte Bildkarte trägt die Beschriftung '11. Entwicklung', was auf eine Serie mit potenziell sozialdarwinistischer oder ethnografischer Klassifizierung hindeuten könnte. Ohne Kenntnis der gesamten Serie ist dies ein Kontextverdacht, aber keine gesicherte Tatsache.",
          "Caption": "### 1. PHYSISCHE ERSCHEINUNG\nDas Objekt ist ein dreidimensionales optisches Betrachtungsgerät, ein Stereoskop, kombiniert mit einem aus Draht geformten Halter für eine stereoskopische Karte. Der Hauptkörper des Betrachters ist eine längliche, nach vorne abfallende Form, die an der Vorderseite eine Öffnung für die Augen aufweist. Der Kartenhalter ist eine aufrechte Drahtkonstruktion, die eine flache, rechteckige Stereokarte hält.\n\n### 2. MATERIALITÄT & OBERFLÄCHE\nDer Körper des Stereoskops besteht aus einem hellen Metall, das eine matte, leicht silbrig-graue Oberfläche aufweist. Die Oberfläche des Metallkörpers ist mit erhabenen, ornamentalen Mustern verziert. Die Innenseite der Augenmuschel ist dunkel (wahrscheinlich schwarz lackiert), mit einer leicht rauen Textur. Der Rand der Augenmuschel ist mit einem roten, samtartigen Stoff besetzt. Die Linsen sind aus Glas und erscheinen klar, sind aber leicht staubig oder verschmutzt. Der Kartenhalter besteht aus dünnem, blankem Metalldraht. Die eingelegte Stereokarte ist aus mattem, leicht cremefarbenem Karton oder Papier gefertigt. Die Bilder auf der Karte sind monochromatisch in Graustufen gehalten.\n\n### 3. DARGESTELLTER INHALT & MOTIVE\nDas Objekt dient primär der Darstellung von Bildern. Auf dem Metallkörper des Stereoskops sind erhabene, symmetrische Zierornamente in Form von Ranken oder floralen Motiven erkennbar. Der Kartenhalter präsentiert eine Stereokarte, die zwei nahezu identische Schwarz-Weiß-Fotografien nebeneinander zeigt. Jede Fotografie bildet eine stehende Person ab, die eine kopfbedeckte Figur, wahrscheinlich ein Kind, darstellt. Die Figur ist in einer mehrteiligen, gemusterten Kleidung bekleidet, die einen Rock, eine schürzenähnliche Lage und eine Kopfbedeckung umfasst. Die linke Hand der Figur ist an der Hüfte positioniert, die rechte Hand ist leicht abgewinkelt vor dem Körper gehalten. Im Hintergrund jeder Abbildung sind stilisierte Büsche oder Pflanzenformationen vor einem helleren Hintergrund zu sehen.\n\n### 4. SCHRIFT & ZEICHEN\nAuf der Stereokarte, unterhalb des rechten Bildes, ist eine Beschriftung sichtbar. Transkription: \"11. Entwicklung.\"\n\n### 5. ZUSTAND\nDer Metallkörper des Stereoskops weist sichtbare Abnutzungserscheinungen auf, darunter Kratzer und eine leichte Abstumpfung des Glanzes. Die rote samtartige Auskleidung der Augenmuschel ist an mehreren Stellen abgenutzt, komprimiert und verschmutzt. Die dunkle Innenlackierung zeigt Staubanhaftungen und kleine helle Punkte. Die Stereokarte ist insgesamt leicht vergilbt oder verfärbt, insbesondere an den Rändern. Die Bilder selbst erscheinen altersgemäß und zeigen keine massiven Beschädigungen, jedoch die für alte Fotografien typische, leichte Ausbleichung.",
          "Metadata": "Inv Nr: G 1288\nTitel: Stereoskop\nSammlung: Spielzeug\nSammlungsbereich: Geräte\nObjektbezeichnung: Stereoskop\nOrt: North Bennington\nMaße: 32.00 cm x 18.00 cm x 16.00 cm\nKurztitel: Stereokop\nMaterialien: Aluminium;Samt;Glas;Holz\nTechniken: industrielle Fertigung\nMaterial/Technik Bemerkungen: roter Samt, geklebt; Metall, industrielle Fertigung; Holz, gesägt; Glas, geblasen\nPersonen: White Company\nFunktionen der Personen: Hersteller\nEreignisse zu den Personen: Herstellung\nDatierung: 1900;1895\nDatierung von: 1900;1895\nDatierung bis: 1900;1895\nEreignisse zur Datierung: Herstellung;Geistige Schöpfung\nOrt, Zeit Bemerkung: North Bennigton, 1900\nSchlagworte: Deutsches Kaiserreich;Optik;Stereobildkarte\nBeschreibung/Bemerkung (Autor, Datum): Stereobetrachter von H.C. White Co\nhergestellt für die Weltausstellung in Paris (1900 Jh.), Darauf steht filigran geschrieben: 1900, Exposition universelle internationale. Mittig ist ein Engel und dahinter ein muskulöser Mann mit Keule oder Fackel in der Hand (ein Gott?).\nAuf der Rückseite des Stereoskops ist eingraviert: The \"Perfescope\" Trade Mark\nU.S.A. Patent Oct.15.1895\n                   June 3.1902\n                   Feby 1. 1898\nB.S.B.D.G.\nCanada, France, Germany, Great Britain, Austria, Belgium\nDRGM No.53803\nH.C.W. TECO London and Paris warranted          Patent, Aug 8.1904\nDer H.C.  White Company Mill Complex ist ein historischer Industriekomplex in der 140 Water Street in North Bennington, Vermont. Die White Company wurde 1879 gegründet (geschlossen 1935) und stellt stereografische Betrachter und Stereografiekarten sowie den Kiddie-Kar, einen dreirädrigen Holzroller für Kinder, her. Wikipedia letzter Zugriff 8.7.2019\nDas Sichtfeld wird von einem rotem Samtstreifen umrahmt. Zwei rechteckige Linsen ermöglichen den Blick auf die Stereobildpaare. Der obere Teil des Stereoskops ist durch schwungvolle filigrane Verzierungen geschmückt. Das Scharfstellen des Bildes wird durch Verschieben der Bildhalterung ermöglicht. Unten ist ein Holzhandgriff zur besseren Handhabung des Stereoskops angeschraubt.\nGeschichte des Skereoskops\nNachdem Brewster sein Stereoskop vergeblich versucht hatte, für den englischen Markt produzieren zu lassen, fand es in Frankreich reißenden Absatz. Bis 1856 wurden eine halbe Millionen seiner Stereoskope verkauft. In den 50er Jahren gab es auch Faltbetrachter und das Revolver-Stereoskop.  Nach letzterm wurden später auch Tisch- bzw. Standbetrachter entwickelt. 10 Jahre später erfand der Amerikaner Oliver Wendell Holmes ein handliches und wegen seiner schlichten Ausführung für jedermann erschwingliches Volks-Stereoskop. Es überschwemmte den europäischen Markt. Dies uns vorliegende Stereoskop ist schon aufwendiger gefertigt.  [... Inhalt gekürzt]\nKontext: Das Stereoskop wurde anlässlich der Weltausstellung 1900 in Paris gefertigt. \nEine Stereoskopie besteht aus zwei sehr ähnlichen Bildern. Bei der Betrachtung durch ein Stereoskop fügt das Gehirn beide Bilder zusammen. Dieses zusammengefügte Bild vermittelt eine räumlichen Tiefe.\n_archived: false\n_creator: a0547f59f9a44e8692bff9f32784d6ca@auth.local\n_ctime: 2026-01-26T17:06:28.168+01:00\n_last_modifier: a0547f59f9a44e8692bff9f32784d6ca@auth.local\n_mtime: 2026-04-07T18:31:04.835+02:00",
          "llm_result": {
            "1_Relevance_Check": "Die Weichenstellung von LLM2 ist korrekt. Das Objekt an sich ist technisch-neutral. Der Hinweis auf den potenziell problematischen Kontext der Weltausstellung und die Serienbeschriftung 'Entwicklung' ist richtig platziert und formuliert ('Kritischer_Hinweis'), da er eine Hypothese bleibt und keine unbewiesene Behauptung aufstellt.",
            "2_Vision_Check": "Der Abgleich mit Caption und Metadaten ist erfolgreich. Es wurden keine visuellen Halluzinationen oder stereotypen Zuschreibungen gefunden. Die neutralen Begriffe ('Kleidung', 'Kopfbedeckung') sind korrekt gewählt und verhindern Spekulationen.",
            "3_Syntax_Check": "Audit bestätigt: In den Metadaten ist die Agency (Hersteller) klar benannt. Eine kritische Analyse der Provenienzkette ist auf Basis der Daten nicht möglich und LLM2 hat dies korrekt als 'null' vermerkt.",
            "4_Sovereignty_Check": "Audit bestätigt: Es liegen keine Kriterien für 'Restricted Access' vor. 'Open Access' ist korrekt.",
            "5_Museo_Check": "Der Audit identifiziert geringfügige, aber systemrelevante formale Regelverstöße. Ein Adjektiv ('geschwungen') wurde im falschen Cluster verwendet. Ein Begriff ('Nostalgie') basiert auf unzulässiger Spekulation über die moderne Rezeption statt auf objektimmanenter Evidenz. Ein Thema ist eine plausible, aber nicht direkt belegte Interpretation. Ansonsten ist die Regel-Compliance (Singular, Brücken-Begriffe, keine Materialien) sehr hoch.",
            "Protokoll_Status": "Open Access",
            "Objekttyp": [
              {
                "term": "Stereoskop",
                "why": "Die Objektbezeichnung in den Metadaten und die Bauform identifizieren das Objekt eindeutig als Stereoskop.",
                "status": "green",
                "judge_comment": "Korrekter Fachbegriff, gestützt durch Metadaten."
              },
              {
                "term": "Betrachtungsgerät",
                "why": "Dies ist ein allgemeiner, laienverständlicher Oberbegriff für ein Gerät, mit dem man Bilder anschaut.",
                "status": "green",
                "judge_comment": "Exzellentes Brücken-Gebot. Der laiensprachliche Oberbegriff ist vorhanden."
              },
              {
                "term": "3D-Brille",
                "why": "Ein Laie würde nach einem Begriff suchen, der die Erzeugung eines räumlichen Bildeindrucks beschreibt. Dies ist ein moderner, aber treffender Analogbegriff.",
                "status": "green",
                "judge_comment": "Guter Einsatz des Folksonomie-Gebots durch Nutzung eines modernen, analogen Suchbegriffs."
              }
            ],
            "Thema_Phänomen": [
              {
                "term": "Optik",
                "why": "Die Funktion des Geräts basiert auf optischen Prinzipien zur Erzeugung eines räumlichen Bildes.",
                "status": "green",
                "judge_comment": "Korrekt. Basiert auf der Funktion des Objekts."
              },
              {
                "term": "Weltausstellung",
                "why": "Laut Metadaten wurde das Objekt für die Pariser Weltausstellung 1900 hergestellt.",
                "status": "green",
                "judge_comment": "Korrekt. Direkt aus den Metadaten belegt."
              },
              {
                "term": "Massenmedien",
                "why": "Stereoskope waren um 1900 ein weit verbreitetes visuelles Unterhaltungsmedium für ein breites Publikum.",
                "status": "yellow",
                "judge_comment": "Plausible Interpretation, aber nicht direkt durch die Metadaten belegt ('Massenmedium' wird nicht erwähnt). Die Begründung ist logisch, der Begriff selbst ist jedoch eine Abstraktion. Akzeptabel, aber als Interpretation markiert."
              },
              {
                "term": "Fotografiegeschichte",
                "why": "Die Stereoskopie ist ein wichtiges Kapitel in der Geschichte der Fotografie des 19. und frühen 20. Jahrhunderts.",
                "status": "green",
                "judge_comment": "Korrekte historische Einordnung des Objekttyps."
              },
              {
                "term": "Industrialisierung",
                "why": "Das Objekt ist ein industriell gefertigtes Massenprodukt einer bekannten US-amerikanischen Firma.",
                "status": "green",
                "judge_comment": "Korrekt. Die Metadaten belegen die industrielle Fertigung."
              }
            ],
            "Inhalt_Motiv": [
              {
                "term": "Kind",
                "why": "Die Fotografie auf der Stereokarte zeigt eine einzelne, stehende Person, die als Kind erscheint.",
                "status": "green",
                "judge_comment": "Korrekt. Visuell und durch Caption gestützt."
              },
              {
                "term": "Porträt",
                "why": "Die Darstellung der Person auf der Fotografie hat den Charakter eines gestellten Porträts.",
                "status": "green",
                "judge_comment": "Korrekt. Gut begründete Bildgattung."
              },
              {
                "term": "Kleidung",
                "why": "Die abgebildete Person trägt ein mehrteiliges, gemustertes Gewand.",
                "status": "green",
                "judge_comment": "Korrekt. Visuell evident."
              },
              {
                "term": "Kopfbedeckung",
                "why": "Das Kind auf dem Foto trägt eine auffällige Bedeckung auf dem Kopf.",
                "status": "green",
                "judge_comment": "Korrekt. Visuell evident."
              },
              {
                "term": "Pflanze",
                "why": "Im Hintergrund der Fotografie sind stilisierte Pflanzen oder Büsche zu sehen.",
                "status": "green",
                "judge_comment": "Korrekt. Visuell evident."
              },
              {
                "term": "Engel",
                "why": "Die Metadaten beschreiben, dass auf dem Gehäuse des Stereoskops ein Engel abgebildet ist.",
                "status": "green",
                "judge_comment": "Korrekt. Explizit in den Metadaten erwähnt."
              },
              {
                "term": "Figur",
                "why": "Laut Metadaten ist neben dem Engel eine 'muskulöse Mann mit Keule oder Fackel', also eine allegorische oder mythologische Figur, dargestellt.",
                "status": "green",
                "judge_comment": "Korrekt. Explizit in den Metadaten erwähnt."
              }
            ],
            "Funktion_Zweck": [
              {
                "term": "Betrachtung",
                "why": "Die Hauptfunktion des Geräts ist das Ansehen von Bildern.",
                "status": "green",
                "judge_comment": "Korrekter, substantivierter Funktionsbegriff."
              },
              {
                "term": "Unterhaltung",
                "why": "Solche Geräte dienten primär der privaten Freizeitgestaltung und Unterhaltung.",
                "status": "green",
                "judge_comment": "Korrekter, substantivierter Zweck."
              },
              {
                "term": "3D-Effekt",
                "why": "Die technische Funktion besteht darin, aus zwei Einzelbildern einen dreidimensionalen, räumlichen Eindruck zu erzeugen.",
                "status": "green",
                "judge_comment": "Zulässige Beschreibung des Kernzwecks. Keine Komposita-Zerlegung nötig, da feststehender Begriff."
              },
              {
                "term": "Scharfstellen",
                "why": "Laut Metadaten kann die Schärfe des Bildes durch das Verschieben des Kartenhalters justiert werden.",
                "status": "green",
                "judge_comment": "Korrekt, Funktion ist in Metadaten beschrieben."
              }
            ],
            "Visuelle_Merkmale": [
              {
                "term": "ornamentiert",
                "why": "Der Metallkörper des Geräts ist laut Bild und Beschreibung mit erhabenen, schwungvollen Verzierungen geschmückt.",
                "status": "green",
                "judge_comment": "Korrekt. Adjektive sind in diesem Cluster erlaubt."
              },
              {
                "term": "abgenutzt",
                "why": "Der visuelle Befund beschreibt deutliche Abnutzungsspuren am roten Samt und Kratzer auf dem Metall.",
                "status": "green",
                "judge_comment": "Korrekt. Adjektive sind in diesem Cluster erlaubt."
              },
              {
                "term": "monochromatisch",
                "why": "Die Fotografie auf der eingesteckten Karte ist in Schwarz-Weiß bzw. Graustufen gehalten.",
                "status": "green",
                "judge_comment": "Korrekt. Adjektive sind in diesem Cluster erlaubt."
              },
              {
                "term": "vergilbt",
                "why": "Die Bildbeschreibung erwähnt, dass die Stereokarte aus Karton altersbedingt leicht vergilbt ist.",
                "status": "green",
                "judge_comment": "Korrekt. Adjektive sind in diesem Cluster erlaubt."
              }
            ],
            "Form_Gestalt": [
              {
                "term": "Rechteck",
                "why": "Die Linsen und die eingelegte Stereobildkarte haben eine rechteckige Grundform.",
                "status": "green",
                "judge_comment": "Korrekte Formbeschreibung als Nomen."
              },
              {
                "term": "geschwungen",
                "why": "Die Augenmuschel des Geräts ist geschwungen geformt, um sich dem Gesicht anzupassen.",
                "status": "yellow",
                "judge_comment": "Adjektiv-Verbot. In diesem Cluster sind nur Nomen erlaubt. Korrekturvorschlag: 'Schwung' oder 'geschwungene Form'."
              }
            ],
            "Bestandteile": [
              {
                "term": "Stereobildkarte",
                "why": "Eine Bildkarte mit zwei Fotografien ist in den Halter des Geräts eingesetzt, um betrachtet zu werden.",
                "status": "green",
                "judge_comment": "Korrekter Bestandteil."
              },
              {
                "term": "Linse",
                "why": "Das Gerät verfügt über zwei Glaslinsen, durch die der Betrachter schaut.",
                "status": "green",
                "judge_comment": "Korrekter Bestandteil. Verstößt nicht gegen Material-Verbot, da 'Linse' ein Bauteil ist."
              },
              {
                "term": "Handgriff",
                "why": "Laut Metadaten besitzt das Objekt einen Handgriff aus Holz zur besseren Handhabung.",
                "status": "green",
                "judge_comment": "Korrekter Bestandteil, gestützt durch Metadaten."
              },
              {
                "term": "Kartenhalter",
                "why": "Eine sichtbare Drahtkonstruktion dient dazu, die Stereobildkarte in Position zu halten.",
                "status": "green",
                "judge_comment": "Korrekter Bestandteil."
              },
              {
                "term": "Okular",
                "why": "Das Bauteil, durch das man blickt, ist mit rotem Samt eingefasst und wird als Okular oder Augenmuschel bezeichnet.",
                "status": "green",
                "judge_comment": "Korrekter Bestandteil."
              }
            ],
            "Gebrauchskontext": [
              {
                "term": "Privathaushalt",
                "why": "Stereoskope waren typische Unterhaltungsgeräte für den Gebrauch zu Hause.",
                "status": "green",
                "judge_comment": "Plausibler und historisch korrekter Gebrauchskontext."
              },
              {
                "term": "Salon",
                "why": "Solche Geräte waren oft Teil der bürgerlichen Salonkultur als Form der Zerstreuung.",
                "status": "green",
                "judge_comment": "Plausibler und historisch korrekter Gebrauchskontext."
              },
              {
                "term": "Freizeit",
                "why": "Das Betrachten von stereoskopischen Bildern war eine verbreitete Freizeitbeschäftigung.",
                "status": "green",
                "judge_comment": "Plausibler und historisch korrekter Gebrauchskontext."
              }
            ],
            "Kultureller_Kontext": [
              {
                "term": "Belle Époque",
                "why": "Die Herstellungszeit um 1900 fällt in die Hochphase der Belle Époque, insbesondere in Paris, dem Ort der Weltausstellung.",
                "status": "green",
                "judge_comment": "Korrekte historische Epochenzuschreibung."
              },
              {
                "term": "19. Jahrhundert",
                "why": "Die Technologie und Popularität der Stereoskopie hat ihren Ursprung in der zweiten Hälfte des 19. Jahrhunderts.",
                "status": "green",
                "judge_comment": "Korrekt, da Herstellung (Patente) und Technologie ins 19. Jh. fallen."
              },
              {
                "term": "20. Jahrhundert",
                "why": "Das Objekt wurde um 1900 hergestellt und markiert damit den Übergang ins 20. Jahrhundert.",
                "status": "green",
                "judge_comment": "Korrekt, da Herstellungsdatum (1900) im 20. Jh. liegt."
              },
              {
                "term": "USA",
                "why": "Der Hersteller H.C. White Co. war in den USA ansässig, was auf den Produktionsort hinweist.",
                "status": "green",
                "judge_comment": "Korrekt, durch Metadaten zum Hersteller belegt."
              }
            ],
            "Emotion_Atmosphäre": [
              {
                "term": "Neugier",
                "why": "Optische Geräte dieser Art waren dazu bestimmt, bei den Betrachtenden Neugier und Staunen über den 3D-Effekt zu wecken.",
                "status": "green",
                "judge_comment": "Akzeptabel. Die Begründung bezieht sich auf die intendierte Funktion (Neugier wecken), nicht auf eine unterstellte Emotion des Betrachters."
              }
            ],
            "Farbe_Nuancen": [
              {
                "term": "Rot",
                "why": "Der Samt, der das Okular umgibt, hat eine leuchtend rote Farbe.",
                "status": "green",
                "judge_comment": "Korrekt."
              },
              {
                "term": "Silber",
                "why": "Der Hauptkörper des Stereoskops besteht aus einem hellen Metall mit silbrigem Erscheinungsbild.",
                "status": "green",
                "judge_comment": "Korrekt."
              },
              {
                "term": "Schwarz",
                "why": "Die Innenseite des Betrachters ist schwarz lackiert und das Foto enthält schwarze Bildpartien.",
                "status": "green",
                "judge_comment": "Korrekt."
              },
              {
                "term": "Cremeweiß",
                "why": "Der Karton der Stereokarte wird als cremefarben bzw. leicht vergilbt beschrieben.",
                "status": "green",
                "judge_comment": "Korrekt."
              }
            ],
            "Kritischer_Hinweis": "Das Objekt wurde für die Pariser Weltausstellung 1900 hergestellt. Weltausstellungen dieser Zeit waren oft Schauplätze für koloniale Zurschaustellungen ('Völkerschauen'), die Menschen in einer stereotypen und rassistischen Weise präsentierten. Die eingelegte Bildkarte trägt die Beschriftung '11. Entwicklung', was auf eine Serie mit potenziell sozialdarwinistischer oder ethnografischer Klassifizierung hindeuten könnte. Ohne Kenntnis der gesamten Serie ist dies ein Kontextverdacht, aber keine gesicherte Tatsache.",
            "Caption": "### 1. PHYSISCHE ERSCHEINUNG\nDas Objekt ist ein dreidimensionales optisches Betrachtungsgerät, ein Stereoskop, kombiniert mit einem aus Draht geformten Halter für eine stereoskopische Karte. Der Hauptkörper des Betrachters ist eine längliche, nach vorne abfallende Form, die an der Vorderseite eine Öffnung für die Augen aufweist. Der Kartenhalter ist eine aufrechte Drahtkonstruktion, die eine flache, rechteckige Stereokarte hält.\n\n### 2. MATERIALITÄT & OBERFLÄCHE\nDer Körper des Stereoskops besteht aus einem hellen Metall, das eine matte, leicht silbrig-graue Oberfläche aufweist. Die Oberfläche des Metallkörpers ist mit erhabenen, ornamentalen Mustern verziert. Die Innenseite der Augenmuschel ist dunkel (wahrscheinlich schwarz lackiert), mit einer leicht rauen Textur. Der Rand der Augenmuschel ist mit einem roten, samtartigen Stoff besetzt. Die Linsen sind aus Glas und erscheinen klar, sind aber leicht staubig oder verschmutzt. Der Kartenhalter besteht aus dünnem, blankem Metalldraht. Die eingelegte Stereokarte ist aus mattem, leicht cremefarbenem Karton oder Papier gefertigt. Die Bilder auf der Karte sind monochromatisch in Graustufen gehalten.\n\n### 3. DARGESTELLTER INHALT & MOTIVE\nDas Objekt dient primär der Darstellung von Bildern. Auf dem Metallkörper des Stereoskops sind erhabene, symmetrische Zierornamente in Form von Ranken oder floralen Motiven erkennbar. Der Kartenhalter präsentiert eine Stereokarte, die zwei nahezu identische Schwarz-Weiß-Fotografien nebeneinander zeigt. Jede Fotografie bildet eine stehende Person ab, die eine kopfbedeckte Figur, wahrscheinlich ein Kind, darstellt. Die Figur ist in einer mehrteiligen, gemusterten Kleidung bekleidet, die einen Rock, eine schürzenähnliche Lage und eine Kopfbedeckung umfasst. Die linke Hand der Figur ist an der Hüfte positioniert, die rechte Hand ist leicht abgewinkelt vor dem Körper gehalten. Im Hintergrund jeder Abbildung sind stilisierte Büsche oder Pflanzenformationen vor einem helleren Hintergrund zu sehen.\n\n### 4. SCHRIFT & ZEICHEN\nAuf der Stereokarte, unterhalb des rechten Bildes, ist eine Beschriftung sichtbar. Transkription: \"11. Entwicklung.\"\n\n### 5. ZUSTAND\nDer Metallkörper des Stereoskops weist sichtbare Abnutzungserscheinungen auf, darunter Kratzer und eine leichte Abstumpfung des Glanzes. Die rote samtartige Auskleidung der Augenmuschel ist an mehreren Stellen abgenutzt, komprimiert und verschmutzt. Die dunkle Innenlackierung zeigt Staubanhaftungen und kleine helle Punkte. Die Stereokarte ist insgesamt leicht vergilbt oder verfärbt, insbesondere an den Rändern. Die Bilder selbst erscheinen altersgemäß und zeigen keine massiven Beschädigungen, jedoch die für alte Fotografien typische, leichte Ausbleichung.",
            "Metadata": "Inv Nr: G 1288\nTitel: Stereoskop\nSammlung: Spielzeug\nSammlungsbereich: Geräte\nObjektbezeichnung: Stereoskop\nOrt: North Bennington\nMaße: 32.00 cm x 18.00 cm x 16.00 cm\nKurztitel: Stereokop\nMaterialien: Aluminium;Samt;Glas;Holz\nTechniken: industrielle Fertigung\nMaterial/Technik Bemerkungen: roter Samt, geklebt; Metall, industrielle Fertigung; Holz, gesägt; Glas, geblasen\nPersonen: White Company\nFunktionen der Personen: Hersteller\nEreignisse zu den Personen: Herstellung\nDatierung: 1900;1895\nDatierung von: 1900;1895\nDatierung bis: 1900;1895\nEreignisse zur Datierung: Herstellung;Geistige Schöpfung\nOrt, Zeit Bemerkung: North Bennigton, 1900\nSchlagworte: Deutsches Kaiserreich;Optik;Stereobildkarte\nBeschreibung/Bemerkung (Autor, Datum): Stereobetrachter von H.C. White Co\nhergestellt für die Weltausstellung in Paris (1900 Jh.), Darauf steht filigran geschrieben: 1900, Exposition universelle internationale. Mittig ist ein Engel und dahinter ein muskulöser Mann mit Keule oder Fackel in der Hand (ein Gott?).\nAuf der Rückseite des Stereoskops ist eingraviert: The \"Perfescope\" Trade Mark\nU.S.A. Patent Oct.15.1895\n                   June 3.1902\n                   Feby 1. 1898\nB.S.B.D.G.\nCanada, France, Germany, Great Britain, Austria, Belgium\nDRGM No.53803\nH.C.W. TECO London and Paris warranted          Patent, Aug 8.1904\nDer H.C.  White Company Mill Complex ist ein historischer Industriekomplex in der 140 Water Street in North Bennington, Vermont. Die White Company wurde 1879 gegründet (geschlossen 1935) und stellt stereografische Betrachter und Stereografiekarten sowie den Kiddie-Kar, einen dreirädrigen Holzroller für Kinder, her. Wikipedia letzter Zugriff 8.7.2019\nDas Sichtfeld wird von einem rotem Samtstreifen umrahmt. Zwei rechteckige Linsen ermöglichen den Blick auf die Stereobildpaare. Der obere Teil des Stereoskops ist durch schwungvolle filigrane Verzierungen geschmückt. Das Scharfstellen des Bildes wird durch Verschieben der Bildhalterung ermöglicht. Unten ist ein Holzhandgriff zur besseren Handhabung des Stereoskops angeschraubt.\nGeschichte des Skereoskops\nNachdem Brewster sein Stereoskop vergeblich versucht hatte, für den englischen Markt produzieren zu lassen, fand es in Frankreich reißenden Absatz. Bis 1856 wurden eine halbe Millionen seiner Stereoskope verkauft. In den 50er Jahren gab es auch Faltbetrachter und das Revolver-Stereoskop.  Nach letzterm wurden später auch Tisch- bzw. Standbetrachter entwickelt. 10 Jahre später erfand der Amerikaner Oliver Wendell Holmes ein handliches und wegen seiner schlichten Ausführung für jedermann erschwingliches Volks-Stereoskop. Es überschwemmte den europäischen Markt. Dies uns vorliegende Stereoskop ist schon aufwendiger gefertigt.  [... Inhalt gekürzt]\nKontext: Das Stereoskop wurde anlässlich der Weltausstellung 1900 in Paris gefertigt. \nEine Stereoskopie besteht aus zwei sehr ähnlichen Bildern. Bei der Betrachtung durch ein Stereoskop fügt das Gehirn beide Bilder zusammen. Dieses zusammengefügte Bild vermittelt eine räumlichen Tiefe.\n_archived: false\n_creator: a0547f59f9a44e8692bff9f32784d6ca@auth.local\n_ctime: 2026-01-26T17:06:28.168+01:00\n_last_modifier: a0547f59f9a44e8692bff9f32784d6ca@auth.local\n_mtime: 2026-04-07T18:31:04.835+02:00"
          },
          "caption": "### 1. PHYSISCHE ERSCHEINUNG\nDas Objekt ist ein dreidimensionales optisches Betrachtungsgerät, ein Stereoskop, kombiniert mit einem aus Draht geformten Halter für eine stereoskopische Karte. Der Hauptkörper des Betrachters ist eine längliche, nach vorne abfallende Form, die an der Vorderseite eine Öffnung für die Augen aufweist. Der Kartenhalter ist eine aufrechte Drahtkonstruktion, die eine flache, rechteckige Stereokarte hält.\n\n### 2. MATERIALITÄT & OBERFLÄCHE\nDer Körper des Stereoskops besteht aus einem hellen Metall, das eine matte, leicht silbrig-graue Oberfläche aufweist. Die Oberfläche des Metallkörpers ist mit erhabenen, ornamentalen Mustern verziert. Die Innenseite der Augenmuschel ist dunkel (wahrscheinlich schwarz lackiert), mit einer leicht rauen Textur. Der Rand der Augenmuschel ist mit einem roten, samtartigen Stoff besetzt. Die Linsen sind aus Glas und erscheinen klar, sind aber leicht staubig oder verschmutzt. Der Kartenhalter besteht aus dünnem, blankem Metalldraht. Die eingelegte Stereokarte ist aus mattem, leicht cremefarbenem Karton oder Papier gefertigt. Die Bilder auf der Karte sind monochromatisch in Graustufen gehalten.\n\n### 3. DARGESTELLTER INHALT & MOTIVE\nDas Objekt dient primär der Darstellung von Bildern. Auf dem Metallkörper des Stereoskops sind erhabene, symmetrische Zierornamente in Form von Ranken oder floralen Motiven erkennbar. Der Kartenhalter präsentiert eine Stereokarte, die zwei nahezu identische Schwarz-Weiß-Fotografien nebeneinander zeigt. Jede Fotografie bildet eine stehende Person ab, die eine kopfbedeckte Figur, wahrscheinlich ein Kind, darstellt. Die Figur ist in einer mehrteiligen, gemusterten Kleidung bekleidet, die einen Rock, eine schürzenähnliche Lage und eine Kopfbedeckung umfasst. Die linke Hand der Figur ist an der Hüfte positioniert, die rechte Hand ist leicht abgewinkelt vor dem Körper gehalten. Im Hintergrund jeder Abbildung sind stilisierte Büsche oder Pflanzenformationen vor einem helleren Hintergrund zu sehen.\n\n### 4. SCHRIFT & ZEICHEN\nAuf der Stereokarte, unterhalb des rechten Bildes, ist eine Beschriftung sichtbar. Transkription: \"11. Entwicklung.\"\n\n### 5. ZUSTAND\nDer Metallkörper des Stereoskops weist sichtbare Abnutzungserscheinungen auf, darunter Kratzer und eine leichte Abstumpfung des Glanzes. Die rote samtartige Auskleidung der Augenmuschel ist an mehreren Stellen abgenutzt, komprimiert und verschmutzt. Die dunkle Innenlackierung zeigt Staubanhaftungen und kleine helle Punkte. Die Stereokarte ist insgesamt leicht vergilbt oder verfärbt, insbesondere an den Rändern. Die Bilder selbst erscheinen altersgemäß und zeigen keine massiven Beschädigungen, jedoch die für alte Fotografien typische, leichte Ausbleichung.",
          "context_data_string": "Inv Nr: G 1288\nTitel: Stereoskop\nSammlung: Spielzeug\nSammlungsbereich: Geräte\nObjektbezeichnung: Stereoskop\nOrt: North Bennington\nMaße: 32.00 cm x 18.00 cm x 16.00 cm\nKurztitel: Stereokop\nMaterialien: Aluminium;Samt;Glas;Holz\nTechniken: industrielle Fertigung\nMaterial/Technik Bemerkungen: roter Samt, geklebt; Metall, industrielle Fertigung; Holz, gesägt; Glas, geblasen\nPersonen: White Company\nFunktionen der Personen: Hersteller\nEreignisse zu den Personen: Herstellung\nDatierung: 1900;1895\nDatierung von: 1900;1895\nDatierung bis: 1900;1895\nEreignisse zur Datierung: Herstellung;Geistige Schöpfung\nOrt, Zeit Bemerkung: North Bennigton, 1900\nSchlagworte: Deutsches Kaiserreich;Optik;Stereobildkarte\nBeschreibung/Bemerkung (Autor, Datum): Stereobetrachter von H.C. White Co\nhergestellt für die Weltausstellung in Paris (1900 Jh.), Darauf steht filigran geschrieben: 1900, Exposition universelle internationale. Mittig ist ein Engel und dahinter ein muskulöser Mann mit Keule oder Fackel in der Hand (ein Gott?).\nAuf der Rückseite des Stereoskops ist eingraviert: The \"Perfescope\" Trade Mark\nU.S.A. Patent Oct.15.1895\n                   June 3.1902\n                   Feby 1. 1898\nB.S.B.D.G.\nCanada, France, Germany, Great Britain, Austria, Belgium\nDRGM No.53803\nH.C.W. TECO London and Paris warranted          Patent, Aug 8.1904\nDer H.C.  White Company Mill Complex ist ein historischer Industriekomplex in der 140 Water Street in North Bennington, Vermont. Die White Company wurde 1879 gegründet (geschlossen 1935) und stellt stereografische Betrachter und Stereografiekarten sowie den Kiddie-Kar, einen dreirädrigen Holzroller für Kinder, her. Wikipedia letzter Zugriff 8.7.2019\nDas Sichtfeld wird von einem rotem Samtstreifen umrahmt. Zwei rechteckige Linsen ermöglichen den Blick auf die Stereobildpaare. Der obere Teil des Stereoskops ist durch schwungvolle filigrane Verzierungen geschmückt. Das Scharfstellen des Bildes wird durch Verschieben der Bildhalterung ermöglicht. Unten ist ein Holzhandgriff zur besseren Handhabung des Stereoskops angeschraubt.\nGeschichte des Skereoskops\nNachdem Brewster sein Stereoskop vergeblich versucht hatte, für den englischen Markt produzieren zu lassen, fand es in Frankreich reißenden Absatz. Bis 1856 wurden eine halbe Millionen seiner Stereoskope verkauft. In den 50er Jahren gab es auch Faltbetrachter und das Revolver-Stereoskop.  Nach letzterm wurden später auch Tisch- bzw. Standbetrachter entwickelt. 10 Jahre später erfand der Amerikaner Oliver Wendell Holmes ein handliches und wegen seiner schlichten Ausführung für jedermann erschwingliches Volks-Stereoskop. Es überschwemmte den europäischen Markt. Dies uns vorliegende Stereoskop ist schon aufwendiger gefertigt.  [... Inhalt gekürzt]\nKontext: Das Stereoskop wurde anlässlich der Weltausstellung 1900 in Paris gefertigt. \nEine Stereoskopie besteht aus zwei sehr ähnlichen Bildern. Bei der Betrachtung durch ein Stereoskop fügt das Gehirn beide Bilder zusammen. Dieses zusammengefügte Bild vermittelt eine räumlichen Tiefe.\n_archived: false\n_creator: a0547f59f9a44e8692bff9f32784d6ca@auth.local\n_ctime: 2026-01-26T17:06:28.168+01:00\n_last_modifier: a0547f59f9a44e8692bff9f32784d6ca@auth.local\n_mtime: 2026-04-07T18:31:04.835+02:00"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search_gnd": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f7fbcfc3-03f3-465f-a204-892cd027b036",
  "meta": {
    "instanceId": "9de2d1dd5de42ba378151253cc9204d901ca9e498daa5a0021fa02b8ae04907b"
  },
  "id": "132peiuMeOoe9GA2Pcg91",
  "tags": []
}